@define-color textColorPrimary #fff;

.listbox-message-row {
    background-color: #3995D2;
    color: @fff;
}

.shorcut-label {
}

.name-label {
    font-weight: bold;
}

.primary-button {
    background-color: #1A2834;
    color: #fff;
    border-width: 0px;
}

